
$text-size: 16px;
$break-small: 320px;
$break-large: 1200px;

$dark-primary-color:#00796B;
$primary-color:#009688;
$light-primary-color:#B2DFDB;
$text-icons:#FFFFFF;
$accent-color:#607D8B;
$primary-text:#212121;
$second-text:#757575;
$divider-color:#BDBDBD;
