// Home specific styles
.section-notes {
  overflow: auto;
}

.section-display {
  overflow: auto;
}

.row>div>.panel {
  margin-bottom: 0px;
  border-radius: 0px;
  height: calc(100vh - 53px);
  display: flex;
  flex-direction: column;
}

.transition {
  transition: all 0.3s, height 0.4s;
}

.hide2 {
  opacity: 0;
  width: 0%;
  padding: 0;
}

.hide2 h3.panel-title {
  display:none;
}

.hide2 .btn.btn-success {
  height: 0;
}

@media (max-width: 992px) {
    .hide2 {
      height: 0;
          margin: 0 -1px;
    }

    .hide2:nth-child(-n+2) {
      margin-top: -1px;
    }
}

.section {
  padding: 0px;
}

@media (min-width: 768px) {
    .main {
      margin-left: 51px;
    }
}

.panel-heading.clearfix>h4 {
  padding: 8px;
}

// [contenteditable]:focus {
//     outline: 0px solid transparent;
//     background-color: lightyellow;
// }

.heading-editable {
  min-width: 200px;
}

.heading-editable[contenteditable = true] {
    outline: 0px solid transparent;
    background-color: lightyellow;
}

.body-editable {
  margin-bottom: auto;
}

.panel-editable-edit {
  background-color: lightyellow;
}

.body-editable[contenteditable = true] {
    outline: 0px solid transparent;
    background-color: lightyellow;
}