.section-notes {
  overflow: auto;
}

.section-display {
  overflow: auto;
}

.row>div>.panel {
  margin-bottom: 0px;
  border-radius: 0px;
  height: calc(100vh - 53px);
  display: flex;
  flex-direction: column;
}

.transition {
  transition: all 0.3s, height 0.4s;
}

.hide2 {
  opacity: 0;
  width: 0%;
  padding: 0;
}

.hide2 h3.panel-title {
  display:none;
}

.panel-note-title {
  width: calc(100% - 93px);
  background-color: #FFA;
}

@media (max-width: 768px) {
  .panel-note-title {
      width: calc(100% - 139px);
      margin-left: 10px;
  }
}

.panel-note-title[readonly] {
  background-color: transparent;    
  border: 0;
  box-shadow: none;
}

.hide2 .btn.btn-success {
  height: 0;
}

@media (max-width: 992px) {
    .hide2 {
      height: 0;
          margin: 0 -1px;
    }

    .hide2:nth-child(-n+2) {
      margin-top: -1px;
    }
}

.section {
  padding: 0px;
}

@media (min-width: 768px) {
    .main {
      margin-left: 51px;
    }
}

.panel-heading.clearfix>h4 {
  padding: 8px;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar span {
  margin-right: 2px;
}